################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/LearnProject/.vs
/LearnProject/packages
/LearnProject/WebApiTest1/bin
/LearnProject/WebApiTest1/obj/Debug
/LearnProject/WebApiSelfHost1/obj/Debug
/LearnProject/WebApiSelfHost1/bin/Debug
/LearnProject/WebApp1/bin
/LearnProject/WebApp1/obj/Debug
